/*GERAL*/

/*cores usadas*/
:root {
  --main: #500C86;
  --secondary: #9C30A5;
  --fade: #f5c8f9;

  --darkred: #D13A68;
  --lightred: #FF004D;
  --fadered: #fbe4eb;

  --darkgreen: #28A5A5;
  --lightgreen: #06A878;
  --fadegreen: #d1fff1;

  --darkyellow: #C6773D;
  --lightyellow: #D4A500;
  --fadeyellow: #fbefc6;

  --darkpink: #8D5D68;
  --lightpink: #D13A68;
  --fadepink: #fdc9d9;

  --darkblue: #4C7CF6;
  --lightblue: #28A5A5;
  --fadeblue: #d1ffff;
}

/*formatação padrão de todos os elementos*/
* {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
}

/*formatação do header*/
header {
  width: 100%;
  padding: 1.5em;
  display: flex;
  align-items: center;
  gap: 2em;
  background-image: linear-gradient(to bottom , var(--main), var(--secondary));
  border-radius: 0px 0px 30px 30px;
  margin-bottom: 2em;
}

/*formatação de titulos*/
h1 {
  color: white;
}

h2 {
  color: grey;
}


/*formatação do footer*/
footer {
  width: 100%;
  background: var(--main);
  padding: 1.5em;
}

.footerIcons {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}

/*PÁGINA DE COMUNIDADES*/

/*formatação do main*/
main {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 3em;
}

.commContainer {
  margin: 2em;
  height: 200px;
  display: grid;
  grid-template-columns: 30% 70%;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.commCapas {
  grid-column-start: 1;
  border-radius: 10px;
}

.commInfo {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1em;
}

.capas {
  background-image: linear-gradient(to bottom , var(--main), var(--secondary));
}

#capa1 {
  background-image: linear-gradient(to bottom , var(--darkred), var(--lightred)) !important;
}

#capa2 {
  background-image: linear-gradient(to bottom , var(--darkgreen), var(--lightgreen)) !important;
}

#capa3 {
  background-image: linear-gradient(to bottom , var(--darkyellow), var(--lightyellow)) !important;
}

#capa4 {
  background-image: linear-gradient(to bottom , var(--darkpink), var(--lightpink)) !important;
}

#capa5 {
  background-image: linear-gradient(to bottom , var(--darkblue), var(--lightblue)) !important;
}

a {
  text-decoration: none;
  color: black;
}

.footerIcons li {
  font-size: 1.5rem;
}

.fa-solid {
  color: white;
}

/*PÁGINA DE CHAT*/

/*formatação do main*/
.chatUl {
  padding: 0;  
}

.chatMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.TituloPag {
  font-size: 1.75em;
  display: flex;
  justify-content: center;
}

.TituloPag > ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  padding: 0;
}

.iconAldeia {
  color: var(--secondary) !important;
}

.subtitulo {
  color: grey;
}

.subtituloPag {
  font-size: 1.25em;
  margin-top: 20%;
}

.commName {
  color: black;
}

.subtituloPag > ul {
  display: flex;
  list-style-type: none;
  gap: 0.5rem;
}

/*formatação das mensagens de chat*/

.chats {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.containerChat {
  display: grid;
  width: 70%;
  grid-template-columns: 5% 85% 10%;
  padding: 2vh;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.chat {
  display: flex;
  gap: 1rem;
  margin: 1em;
}

.divFoto {
  grid-column-start: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.profilePic {
  width: 25px;
  border: 1px solid var(--secondary);
  border-radius: 100px;
}

.divConteudo {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-left: 1rem;
}

.userName {
  color: var(--secondary);
}

.divConteudo ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.5rem;
}

.btnLike {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.iconLike {
  color: lightgrey;
  margin: 0;
}

.divExcluir {
  grid-column-start: 3;
  display: flex;
  align-items: flex-start;
  justify-self: flex-end;
}

.selectDel {
  display: flex;
  gap: 1rem;
}

.btnDelete {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.iconDelete {
  color: var(--lightred);
  font-size: 14px;
}

.inputDel {
  border: 1px solid lightgrey;
}

/*formatação das opções do chat*/
.containerChatOptions {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.chatOptions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.btnUpload {
  background-color: var(--main);
  color: white;
  border: none;
  padding: 7px;
  border-radius: 3px;
}

.containerChatOptions ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--main);
}

.mencao {
  color: var(--main);
  background: #e294ff;
  padding: 5px;
  border-radius: 3px;
}

.btnChat {
  background: transparent;
  border: none;
  padding: 0;
}

.iconChat {
  color: grey !important;
  font-size: 18px;
}

.enterMsg {
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.btnVoltar {
  padding: 10px;
  color: white;
  background-color: var(--main);
  border: none;
  border-radius: 5px;
}

/*responsividade com media query*/
@media (max-width: 600px) {

  /*elementos da pág. de comunidades*/
  .commContainer {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }

  .commCapas {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .commInfo {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  /*elementos da pág. de chat*/
  .subtituloPag, .containerChat {
    margin-bottom: 2em;
  }

  .subtituloPag > ul {
    text-align: center;
    flex-direction: column;
  }

  footer {
    justify-self: end;
  }

}

