* {
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #800080, #4b0082);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container-fluid {
    background-image: url('background-image.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    width: 100px;
}

form {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

form h2 {
    color: #7e57c2;
}

.btn-primary {
    background-color: #7e57c2;
    border: none;
}

a {
    color: #7e57c2;
}
